@import '~Components/main';

.app-container {
  align-content: stretch;
  align-items: stretch;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  justify-content: flex-start;
  margin: 0;
  width: 100%;

  .app-content {
    display: flex;
    flex-flow: row nowrap;

    .app-work-area {
      display: flex;
      flex: 1 0;
      flex-flow: column wrap;
    }
  }


}

@media all and (max-width: $tablet-portrait-max-width) {
  .app-container {
    flex-flow: column wrap;
    }
}
