@import '~Components/main';

.app-container {
  display: flex;
  flex-flow: row wrap;
  margin: 0;

  .app-bar {
    flex: 1 100%;
    margin: 0;
  }
}

@media all and (max-width: $tablet-portrait-max-width) {
  .app-container {
    flex-flow: column wrap;
    }
}
