.app-container {
  display: flex;
  flex-flow: row wrap;
  margin: 0;

  > h1 {
    flex: 1 100%;
    border: 1px solid black;
    margin: 0;
  }
}

.app-toolbox {

  flex: 0.2;
  border: 1px solid blue;

  .app-dropzone {
    border-width: 2px;
    border-color: rgb(102, 102, 102);
    border-style: dashed;
    border-radius: 5px;
  }

  .app-image-dimensions {
    border: 1px solid red;
  }

  .app-image-histogram {
    border: 1px solid green;
  }
}

.app-image-preview {
  flex: 1;
  border: 1px solid #cccc33;
}

@media all and (max-width: 768px) {
  .app-toolbox {
        display: flex;
    flex: 1 100%;
    flex-flow: row wrap;

    .app-dropzone,
    .app-image-dimensions,
    .app-image-dimensions {
      flex: 1;
    }
  }
}

@media all and (max-width: 360px) {
  .app-toolbox {
    .app-dropzone,
    .app-image-dimensions,
    .app-image-dimensions {
      flex: 1 100%;
    }
  }
}
