/*
 * Media query breakpoints
 */
$phonePortraitMaxWidth: 360px;
$tabletPortraitMaxWidth: 768px;

/*
 * Color Definitions
 */
$mainBorderColor: black;
$toolboxBorderColor: blue;
$dimensionsBorderColor: green;
$histogramBorderColor: red;
$editCanvasBorderColor: yellow;
