@import '~Components/main';

.toolbox {

  .dropzone-area {
    border-color: $dropzone-border-color;
    border-radius: 5px;
    border-style: dashed;
    border-width: 2px;
    max-height: 200px;
    max-width: 200px;
    padding: .3em;

    > p {
      height: 200px;
      white-space: pre-wrap;
      width: 200px;
    }
  }
}
