@import "~Components/main.scss";

.toolbox {
  flex: 0.2;
  border: 1px solid $toolboxBorderColor;

  .dropzone {
    border-width: 2px;
    border-color: rgb(102, 102, 102);
    border-style: dashed;
    border-radius: 5px;
  }

  .image-dimensions {
    border: 1px solid $dimensionsBorderColor;
  }

  .image-histogram {
    border: 1px solid $histogramBorderColor;
  }
}

@media all and (max-width: $tabletPortraitMaxWidth) {
  .toolbox {
    display: flex;
    flex: 1 100%;
    flex-flow: row wrap;

    .dropzone,
    .image-dimensions,
    .image-dimensions {
      flex: 1;
    }
  }
}

@media all and (max-width: $phonePortraitMaxWidth) {
  .toolbox {
    .dropzone,
    .image-dimensions,
    .image-dimensions {
      flex: 1 100%;
    }
  }
}
