@import '~Components/main';

.toolbox {
  flex: .2;

  .dropzone-area {
    border-color: $dropzone-border-color;
    border-radius: 5px;
    border-style: dashed;
    border-width: 2px;
    max-height: 200px;
    max-width: 200px;
    padding: .3em;

    > p {
      height: 200px;
      white-space: pre-wrap;
      width: 200px;
    }
  }
}

@media all and (max-width: $tablet-portrait-max-width) {
  .toolbox {
    display: flex;
    flex: 1 100%;
    flex-flow: row wrap;

    .dropzone,
    .dimensions,
    .zoom-factor,
    .image-dimensions,
    .image-dimensions {
      flex: 1;
    }
  }
}

@media all and (max-width: $phone-portrait-max-width) {
  .toolbox {
    .dropzone,
    .dimensions,
    .zoom-factor,
    .image-dimensions,
    .image-dimensions {
      flex: 1 100%;
    }
  }
}
