@import '~Components/main';

.toolbox {
  border: 1px solid $toolbox-border-color;
  flex: .2;

  .dropzone {
    border-color: $dropzone-border-color;
    border-radius: 5px;
    border-style: dashed;
    border-width: 2px;
  }

  .image-dimensions {
    border: 1px solid $dimensions-border-color;
  }

  .image-histogram {
    border: 1px solid $histogram-border-color;
  }
}

@media all and (max-width: $tablet-portrait-max-width) {
  .toolbox {
    display: flex;
    flex: 1 100%;
    flex-flow: row wrap;

    .dropzone,
    .image-dimensions,
    .image-dimensions {
      flex: 1;
    }
  }
}

@media all and (max-width: $phone-portrait-max-width) {
  .toolbox {
    .dropzone,
    .image-dimensions,
    .image-dimensions {
      flex: 1 100%;
    }
  }
}
